<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body>

	<header>
		<p class ="center">Movie Recommendations with Flask (1904-2017)</p>
	</header>

	<footer>
		<div class="center">
			<h4>Uses parsed wiki plots which is embedded using Universal Sentence Encoder</h4>
		</div>
	</footer>

	<div class="container">

		<form action="{{ url_for('predict')}}" method="POST" align="center">
		<p class ="center">Enter Movie Name Here</p>
		<div class="searchBlock">
        	<div class="fixed wrapper block">
				<input type="text" name="movie" maxlength="150" size="15" placeholder="Enter movie title..">
			</div>
		<br/>
			<button class="block"><p class ="center"><input type="submit" value="Recommend"></p></button>
		</div>
	</form>
		
	</div>	

</body>
</html>

