<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Movie Recommendations with Flask (1904-2017)
	
	</header>

	<footer>
		<div class="center">
			<h4>Uses parsed wiki plots which is embedded using Universal Sentence Encoder</h4>
		</div>
	</footer>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST" align="center">
		<p class ="center">Enter Movie Name Here</p>
		<input type="text" name="movie" maxlength="100" size="25">
		<br/>

		<input type="submit" class="btn-info" value="Recommend">
		
	</form>
		
	</div>	

</body>
</html>

