<!DOCTYPE html>
<html>
<head>
	<style>
	img {
  	float: left;
		}
	</style>

	<title>Recommendations</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
</head>
<body>

	<header>
		<div class="container">
		<p class="center"><h2>Your Recommended Movies for : "{{moviename}}"</h2></p>	
	</div>
	</header>
	<ol>	
		{% for preds in prediction %}
			<div class="dark themed">
			<li><a href="{{preds[2]}}"><button class="accent block"><h3>{{preds[0]}}</h3></button></li>
			<div class="wrapper block pictureWrapper">
			<img class="picture" src="{{preds[4]}}"
				height="250"
				width="250" />
			<p class='rights'>{{preds[3]}}</p>
			</div>
		</div>
		{% endfor %}
	</ol>

</body>
</html>
